<% if user_signed_in? %>

    <nav class="navbar navbar-default container-login" role="navigation">

    <div class='container'>
    <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <%= link_to "Instaphoto", root_path, class:'navbar-brand text-logo' %>
        </div>

        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Загрузить', new_photo_path %></li>

            <li><%= link_to "Фотографии", photos_path %></li>
            
           
            <li class="dropdown">
                <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               <i class="ion-person"></i><%=current_user.name %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to "Мои фото", profiles_my_photos_path %></li>
                <li><%= link_to "Мои подписки", profiles_subscribes_list_path %></li>
                <li><%= link_to "Фото друзей", profiles_friends_photos_path %></li>
                <li class="divider"></li>
                <li><%= link_to current_user.name, edit_user_registration_path  %></li>
                <li class="divider"></li>
                <li><%= link_to "Выйти", destroy_user_session_path, method: :delete %></li>
              </ul>
              </div>
            </li>
          </ul>
    </div>
    </div>
    </nav>
<% else  %>
  <nav class="navbar navbar-default container-login bg-transparent" role="navigation">

    <div class='container'>
    <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <%= link_to "Instaphoto", root_path, class:'navbar-brand text-logo landing-logo' %>
        </div>

        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "О проекте", pages_about_path, class: 'nav-link ' %></li>
            <li><%= link_to "Фотографии", photos_path %></li>
            <li><%= link_to "Войти", new_user_session_path, class: 'nav-link' %></li>
             
          </ul>
    </div>
    </div>
    </nav>
 
<% end %>


 